$jb-black: #171717
$jb-dark-grey: #333
$jb-light-grey: #4C4C4E
$jb-yellow: #FBD753
$jb-dark-yellow: #F7CD31

$jb-primary: #b21c26
$jb-secondary-color: $jb-yellow

$jb-light-border: #eee
$jb-link-blue: #008cba


$secondary-text-color: #999
$third-text-color: #8E8E93
$seperator-border-color: #eee

$secondary-content-color: #F7F7F7
$secondary-content-border-color: #E6EFF0
$third-content-color: #E4EAEB
