.animated {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

@-webkit-keyframes shake-subtle {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  20%, 60%  {
    -webkit-transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -0.5deg);
            transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -0.5deg);
  }

  40%, 80%, {
    -webkit-transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 0.5deg);
            transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 0.5deg);
  }
}

@keyframes shake-subtle {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  20%, 60%  {
    -webkit-transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -0.5deg);
            transform: translate3d(-5px, 0, 0) rotate3d(0, 0, 1, -0.5deg);
  }

  40%, 80%, {
    -webkit-transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 0.5deg);
            transform: translate3d(5px, 0, 0) rotate3d(0, 0, 1, 0.5deg);
  }
}

.shake-subtle {
  -webkit-animation-name: shake-subtle;
          animation-name: shake-subtle;
}