#teams
  padding: 0 10px

#teams > li
  text-align: center
  border-right: 1px solid $seperator-border-color

#teams
  .donate
    margin-top: 10px

.university
  font-color: $secondary-text-color

.bio
  font-color: $secondary-text-color
  font-size: 85%
