include ../mixins.jade

if error
  +alert("teams list", errorMessage, errorStatus)
else if loading
  include ../loading.jade
else
  ul#teams.teams-list.small-block-grid-1.medium-block-grid-3.large-block-grid-4