footer.main-footer
  .row
    .small-12.medium-6.columns
      ul
        li
          a(href='https://twitter.com/jailbreakhq')
            i.fa.fa-twitter @JailbreakHQ
        li
          a(href='https://facebook.com/JailbreakHQ/')
            i.fa.fa-facebook JailbreakHQ
        li
          a(href='https://www.youtube.com/user/Jailbreak14Videos')
            i.fa.fa-youtube Channel
        li
          a(href='https://about.jailbreakhq.org/privacy-policy', target='_blank') Privacy Policy

    .small-12.medium-6.columns
      ul.footer-right
        li
          a.hide-link(href='http://www.svp.ie/Home.aspx', target='_blank') SVP: CHY 6892
        li
          a.hide-link(href='http://www.amnesty.ie/', target='_blank') Amnesty: CHY 5890
        li
          span.copy-statement &copy; JailbreakHQ
