.contain-to-grid.fixed
  nav.top-bar(data-topbar, role='navigation')
    ul.title-area
      li.name
        h1#logo-title
          a(href='/') JailbreakHQ 2015: The Race is On!

    section.top-bar-section
      // Right Nav Section
      ul.right
        li#spin-topbar-logo.topbar-logo
          a(href='http://www.spin1038.com/', target='_blank') Spin 1038
        li#law-soc-topbar-logo.topbar-logo
          a(href='http://tcdlawsoc.com/', target='_blank') TCD Law Soc
        li#amnsety-topbar-logo.topbar-logo
          a(href='http://www.amnesty.ie/', target='_blank') Amnesty
        li#svp-topbar-logo.topbar-logo
          a(href='http://www.svp.ie/Home.aspx', target='_blank') SVP

      // Left Nav Section
      ul.left
        li.divider
        li
          a(href='/teams') Teams
        li.divider
        li
          a(href='https://about.jailbreakhq.org/') About
        li.divider
        li
          a(href='https://about.jailbreakhq.org/contact') Contact