include mixins.jade

// Jailbreak JS App Settings
script.
  var jailbreak = {};
  jailbreak.sentry = {};
  jailbreak.sentry.enabled = false;

+targethtml('dev')
  script.
    jailbreak.api_host = "http://localhost:8090";

+targethtml('qa')
  script.
    jailbreak.api_host = "https://qa.jbapi.net";
    jailbreak.sentry.enabled = true;
    jailbreak.sentry.dsn = "https://d82f576ef52b4883be7c4e7b5c7bc93f@app.getsentry.com/39750";

+targethtml('prod')
  script.
    jailbreak.api_host = "https://jbapi.net";
    jailbreak.sentry.enabled = true;
    jailbreak.sentry.dsn = "https://b2787c1324734ff0862ec4705bfe60f7@app.getsentry.com/39751";