nav.top-bar(data-topbar, role="navigation")
  ul.title-area
    li.name
      h1#logo-title
        a(href="https://jailbreakhq.org/") JailbreakHQ 2015: The Race is On!

  section.top-bar-section
    ul.right
      li.active
        a(href="https://jailbreakhq.org/donate") Donate

  ul.left
    li.divider
    li#header-countdown