//
// Mixins
//

@mixin border-radius($radius)
  -webkit-border-radius:  $radius
  -moz-border-radius:     $radius
  -ms-border-radius:      $radius
  border-radius:          $radius

@mixin box-shadow($value)
  -moz-box-shadow:    $value
  -webkit-box-shadow: $value
  box-shadow:         $value

@mixin background-size-cover
  -webkit-background-size: cover
  -moz-background-size:    cover
  -o-background-size:      cover
  background-size:         cover

@mixin profiler-header($blur, $grayscale)
  -webkit-filter: blur($blur) grayscale($grayscale)
  -moz-filter: blur($blur) grayscale($grayscale)
  -o-filter: blur($blur) grayscale($grayscale)
  -ms-filter: blur($blur) grayscale($grayscale)
  filter: blur($blur) grayscale($grayscale)
