include ../mixins.jade

h3.section-header Updates from Jailbreak 2015

if error
  +alert("highlights", errorMessage, errorStatus)
else if loading
  include ../loading.jade
else
  ul#events-stream-list.items