.row
  .small-12.columns
    h1.page-header Admin: Feed

.row
  .small-12.columns.no-padding
    ul.tabs(data-tab)
      li.tab-title.active
        a(href="#links-panel") Links
      li.tab-title
        a(href="#donate-panel") Donate
      li.tab-title
        a(href="#social-panel") Social
    .tabs-content
      .content.active#links-panel
      .content#donate-panel
      .content#social-panel
