.row
  .small-12.columns
    h3.page-header Add Link
    p.section-header-desc This very generic feed item is great for linking to things other than supported social content or donate buttons

.row
  .small-12.medium-6.columns
    form#add-link-form

      label(for="input-link-url") Link Address
        input(type="url").radius#input-link-url

      label(for="input-link-text") Button Text
        input(type="text", maxlength="100").radius#input-link-text

      label(for="input-link-description") Description
        textarea.radius#input-link-description

      label(for="input-link-photo-url") Photo URL
        input(type="url").radius#input-link-photo-url

      .clearfix
        button(data-style="slide-right").small.round.right.ladda-button#submit-add-link
          | Add Link

  .small-12.medium-6.columns
    #link-preview
      .preview-placeholder Preview