.row
  .small-12.columns
    h3.page-header Add Social Item
    p.page-header-desc Embed content from Twitter, Facebook, Youtube, Instagram, Vine into the news feed

.row
  .small-12.medium-6.columns
    form#add-social-form

      
      .clearfix
        button(data-style="slide-right").small.round.right.ladda-button#submit-add-donate
          | Add Social

  .small-12.medium-6.columns
    #social-preview
      .preview-placeholder Preview