#admin-panel
  .row
    .small-12.columns
      h1.page-header Admin Panel

  .row
    .small-12.columns
      h3.page-header Checkins Dashboard
      table
        thead
          th
          th #
          th Names
          th 
          th Team Name
          th Position
          th Distance To X
          th Location
          th When?
          th 
        tbody#teams