@import "mixins"

@import "common/variables"
@import "common/settings"
@import "common/foundation"
@import "common/topbar"

@import "public/map"

body, html
  height: 100%
  padding: 0
  margin: 0

#wrapper
  border-width: 0 1px 1px 1px
  border-style: solid
  border-color: $jb-black

#map-canvas
  width: 100%
  height: 533px
  line-height: 90%

  img
    max-width: inherit

#leaders
  height: 170px
  background: #F7F7F7