
#admin-panel 
  .label
    padding: 5px 6px
    color: white
    @include border-radius(10px)

  table
    button
      padding: 0.5rem 0.7rem
      margin: 0

#checkin-form
  clear: both

  #map-canvas
    height: 380px
    margin-bottom: 20px
    line-height: 90%

    img
      max-width: inherit

  #input-autocomplete
    margin: 15px 0 0 5px
    width: 355px

  button
    float: right
    margin: 0
