.feed-item
  @include card
  margin-bottom: 20px

  header
    margin-bottom: 4px

    .icon
      font-size: 1rem

    .time
      font-size: 0.8rem
      float: right

  .media
    text-align: center

  .photo
    margin-bottom: 10px

  .description
    margin-bottom: 0

  .footer
    .button
      margin-top: 3px
      margin-bottom: 3px
    
.donate
  .team-info
    height: 60px
    border-bottom: 1px solid $seperator-border-color

    img
      float: left
      margin-right: 15px

    h4
      line-height: 50px

    span.label
      top: -10px
      margin: 0 10px
    
.checkin
  p
    margin: 0

  i.fa
    margin: 8px 10px 0 0
    float: left

  h4
    display: inline-block
    margin: 0

  img
    float: left
    margin-right: 10px

  .label
    margin-left: 10px
    top: -10px

  .time
    margin-left: 10px
