@import "../components/countdown"
@import "../components/slick"

/*
 * Index cover photo area
 */
body, html 
  height: 100%
  margin: 0
  padding: 0

#index-map-canvas
  height: 500px

.winners
  text-align: center
  margin: 20px 0 60px

  .position
    top: -17px

#jb-logo
  background-image: url(../../images/logo-small.png)
  background-repeat: no-repeat
  background-position: center
  text-indent: -9999px
  height: 75px
  margin: 10px 0

@media #{$large-up}
  #jb-logo
    background-image: url(../../images/logo-large.png)
    height: 150px
    margin: 10px 0 30px

.cta-box
  background: $jb-black
  border-bottom: 2px solid $jb-light-grey
  padding: 20px 0
  margin-bottom: 40px
  color: white
  text-align: center

  h3
    color: white
    margin-bottom: 15px

@media #{$medium-up}
  .cta-box

    h3
      margin-bottom: 25px

/*
 * Progress Bar
 */
.progress-info
  margin-bottom: 20px 
  text-align: center

.progress
  margin-top: 20px
  height: 40px
  line-height: 30px
  color: $jb-light-grey
  overflow: hidden

  .meter
    float: left
    color: white

.progress
  .meter
    @include transition(width 0.7s ease-out)

@media #{$medium-up}
  .progress
    margin-top: 0
    margin-bottom: 8px

  .progress-info
    margin: 0

/*
 * Slick
 */
.video-slick > div
  margin-bottom: 15px

@media #{$medium-up}
  .video-slick > div
    margin-bottom: 0

a.video
  position: relative

  &:after
    font-family: "FontAwesome"
    content: "\f04b"
    position: absolute
    display: block
    top: 45%
    left: 50%
    font-size: 2.3rem
    width: 1px
    height: 1px
    color: rgba(255, 255, 255, 0.7)
    @include transition(color 200ms ease-out)

  &:hover:after
    color: rgba(255, 255, 255, 1.0)
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4)
