#login-background
  min-height: 500px
  position: relative
  @include background-gradient(#3D7EAA, #FFE47A)

#login-panel
  position: absolute
  top: 50%
  max-width: 400px
  @include translateY(-50%)
  @include card
  margin: 30px auto
  left: 0
  right: 0
  padding: 30px

#login-form
  input
    margin-bottom: 1.25rem
    margin-top: 1rem

  #submit-login
    margin-bottom: 0
    float: right

#body-container.login
  margin-bottom: -10px