.map
  line-height: 90%
  background-color: #eee
  overflow: hidden

  img
    max-width: inherit

.team-card
  margin-bottom: 30px 

.info-window
  max-width: 370px

.info-window, .team-card
  .profile
    text-align: center
    padding-right: 20px

  h3
    margin-bottom: 3px
    font-size: 1.4rem
    margin-top: -5px

  h4
    margin-bottom: 5px
    font-size: 0.9rem

  .label
      margin-left: 5px

  .time
    color: $secondary-text-color
    font-size: 0.8rem
    line-height: 0.8rem
    text-align: right
    display: block
    margin-top: 3px

  p
    margin-bottom: 0
    line-height: 1.2rem

  a.button
    margin-top: 3px

.maps-error
  height: 100%
  background: url(../../images/world-map-outline.png) no-repeat

  .text-container
    top: 190px
    left: 320px
    position: absolute
    color: white
    text-align: center
    background: rgba(0, 0, 0, 0.3)
    width: 40%
    padding: 10px 20px
    @include border-radius(5px)

    h3
      color: white
