
.info-window
  max-width: 370px

  .profile
    text-align: center
    padding-right: 20px

  h3
    margin-bottom: 3px
    font-size: 1.4rem

  h4
    margin-bottom: 5px
    font-size: 0.9rem

  .time
    color: $secondary-text-color
    font-size: 0.8rem
    line-height: 0.8rem
    text-align: right
    display: block

  p
    margin-bottom: 0

