.page-header
  margin: 20px 0 30px
  border-bottom: 1px solid $seperator-border-color

.section-header
  margin: 0 0 12px
  border-bottom: 1px solid $seperator-border-color

.section-header-desc
  margin-top: -10px
  color: $secondary-text-color
  margin-bottom: 20px

.and-more
  margin-top: -10px
  color: $secondary-text-color

.image-frame
  @include thumb
  @include border-radius(5px)

  &:hover
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px

#body-container
  min-height: 500px
  overflow: hidden

.error-field
  border-color: #ff7076 !important
  @include box-shadow((inset 0 1px 2px rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0), 0 0 2px 0 rgba(255, 0, 0, 0.5) !important))

ul.items
  margin-left: 0
  list-style: none

.contains-table
  overflow: scroll

.position
  top: -7px
  margin: 0 5px

/*
 * Large Content Button 
 */
.content-button
  display: block
  margin: 15px 0
  padding: 10px
  border: 1px solid $secondary-content-border-color
  @include border-radius(5px)
  text-align: center
  background: $secondary-content-color
  font-weight: bold

  &:hover
    background: $third-content-color

  &:active,
  &:focus
    @include inset-box-shadow(0 0 6px rgba(0, 0, 0, 0.2))