.page-header
  margin: 0 0 12px
  border-bottom: 1px solid $seperator-border-color

.page-header-desc
  margin-top: -10px
  color: $secondary-text-color
  margin-bottom: 20px

.and-more
  margin-top: -10px
  color: $secondary-text-color

.image-frame
  @include thumb
  @include border-radius(5px)

  &:hover
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px

#body-container
  min-height: 500px
  overflow: hidden