#add-checkin-panel
  h3.page-header Add Checkin

  form#checkin-form.clearfix
    input(type="text", placeholder="Give me a hint").radius#input-autocomplete
    #map-canvas

    #position-inputs
      
    button(data-style="slide-right").small.round.ladda-button#submit-add-checkin
      | Add Checkin