#donate-thank-you
  h1
    span.letter#letter-t T
    span.letter#letter-h H
    span.letter#letter-a A
    span.letter#letter-n N
    span.letter#letter-k K
    span.letter#letter-s S
  h5 Thank you for your donation
  p Have you checked out all the amazing things your money is going to do yet?
  a(href="#").button.secondary.small.radius#donate-close Close