form(action="#", autocomplete="on")#donate-form
  .logos
    .logo-frame.svp
      .logo
    .logo-frame.amnesty
      .logo
  .row
    header.small-12.columns
      h3 Support #{name}
  .row
    .small-12.medium-6.columns
      input(type="text", placeholder="Full name", tabindex="1").radius.cc-name#stripe-name
      span.icon
    .small-12.medium-6.columns
      input(type="email", placeholder="Email", tabindex="2", required).radius.cc-email#stripe-email
      span.icon
  .row
    .small-12.columns

      input(type="text", placeholder="Card Number", autocompletetype="cc-number", tabindex="3", required).radius.cc-num#stripe-number
      span.icon
  .row
    .small-6.columns
      input(type="text", placeholder="CVC", autocomplete="off", tabindex="4", required).radius.cc-cvc#stripe-cvc
      span.icon
    .small-6.columns
      input(type="text", placeholder="MM/YY", tabindex="5", required).radius.cc-exp#stripe-exp-month
      span.icon
  .row
    .small-4.columns
      .row.collapse.prefix-radius
        .small-3.columns
          span.prefix &euro;
        .small-9.columns
          input(type="number", value="20", placeholder="20", tabindex="6", required, data-numeric)#stripe-amount
    .small-8.columns
      .backer
        input(type="checkbox", checked="checked", tabindex="7")#list-me
        label(for="list-me") List me as backer
  .row
    .small-12.columns
      input(type="submit", value="Donate Now" tabindex="8").button.success.expand.round#donateSubmit
  .row
    .small-12.columns
      p.powered-by
        | Donations proudly powered by 
        a(href="https://stripe.com/", target="_blank")
          | stripe
        | .