ul.filters
  li 
    label College
    select#university-selector
      option(value="ALL") All Colleges
      option(value="TCD") TCD
      option(value="UCD") UCD
      option(value="UCC") UCC
      option(value="NUIG") NUIG
      option(value="NUIM") NUIM
      option(value="CIT") Cork IT
      option(value="NCI") NCI
      option(value="ITT") ITT
  li
    label Order By
    select#order-by 
      option(value="POSITION") Position
      optiob(value="AMOUNT") Amount Raised