.cover
  header#landing-header
    #landing-content
      h1#jb-logo.fadeInDown.animated Jailbreak 2015
      h3.fadeIn Jailbreak 2015 kicks off at Collins Barracks in...
      #countdown-timer
.cta-box
  .row
    .small-12.columns
      h3 Help us raise &euro;100,000 for Amnesty International and St. Vincent de Paul
  #index-stats
.row
  .small-12.medium-8.columns
    h3.page-header Featured Teams
    ul#featured-teams.teams-list.small-block-grid-1.medium-block-grid-2.large-block-grid-2

    a(href="/teams/").content-button
      | View Full List of Teams
  .small-12.medium-4.columns
    h3.page-header Donations
    ul#all-donations.donations-list
.row
  .small-12.columns
    h3.page-header Featured Jailbreak Videos
    p.page-header-desc The team with the most shares and views on their video will get a 10 minute head start!
    .video-slick
      div
        a.th.radius(href="https://www.youtube.com/watch?v=MW5DhQPTqMY", target="_blank").video
          img(src="https://s3-eu-west-1.amazonaws.com/qa.static.jailbreakhq.org/other/promo-video.png", height=250)
          h5 Announcing Jailbreak 2015
      div
        a.th.radius
          img(src="http://qa.static.jailbreakhq.org/avatars/uccteam8.jpg", height=250, width=250)
          h5 Moon Bear Big
      div
        a.th.radius
          img(src="http://qa.static.jailbreakhq.org/avatars/TCDTeam15.jpg", height=250, width=250)
          h5 Team 17
      div
        a.th.radius
          img(src="http://qa.static.jailbreakhq.org/avatars/UCCTEAM77.jpg", height=250, width=250)
          h5 Banana Tree
      div
        a.th.radius
          img(src="http://qa.static.jailbreakhq.org/avatars/uccteam8.jpg", height=250, width=250)
          h5 Super Awesome
      div
        a.th.radius(href="https://www.youtube.com/watch?v=sm0tZwEIVVQ", target="_blank").video
          img(src="https://s3-eu-west-1.amazonaws.com/qa.static.jailbreakhq.org/other/how-to-jailbreak.png", height=250)
          h5 How to Jailbreak 