.cover
  header#landing-header
    #landing-content
      h1#jb-logo.fadeInDown.animated Jailbreak 2015
      h3.fadeIn Jailbreak 2015 kicks off at Collins Barracks in...
      #countdown-timer
.cta-box
  .row
    .small-12.columns
      h3 Help us raise &euro;100,000 for Amnesty International and St. Vincent de Paul
  #index-stats
.row
  .small-12.medium-8.columns
    h3.page-header Featured Teams
    ul#featured-teams.teams-list.small-block-grid-1.medium-block-grid-2.large-block-grid-2

    a(href="/teams/").content-button
      | View Full List of Teams
  .small-12.medium-4.columns
    h3.page-header Donations
    ul#all-donations.donations-list