.row
  .small-12.medium-8.columns
    h3.page-header Featured Teams
    ul#featured-teams.teams-list.small-block-grid-1.medium-block-grid-2.large-block-grid-2

    a(href="/teams/").content-button
      | View Full List of Teams
  .small-12.medium-4.columns
    h3.page-header Donations
    ul#all-donations.donations-list