.row
  .small-12.columns.padding-less
    #index-map-canvas.map
.cta-box
  .row
    .small-12.columns
      h3 Help us raise &euro;50,000 for Amnesty International and St. Vincent de Paul
  #index-stats
.row
  .small-12.medium-8.columns
    #events-stream
  .small-12.medium-4.columns
    #all-donations
