.row
  .small-12.columns.padding-less
    #index-map-canvas.map
.cta-box
  .row
    .small-12.columns
      h3 Help us raise &euro;100,000 for Amnesty International and St. Vincent de Paul
  #index-stats
.row
  .small-12.medium-8.columns
    #events-stream
  .small-12.medium-4.columns
    #all-donations
.row
  .small-12.columns
    h3.section-header Featured Jailbreak Videos
    p.section-header-desc Here are some of our favourite videos
    .video-slick
      div
        a.th.radius(href="https://www.youtube.com/watch?v=MW5DhQPTqMY", target="_blank").video
          img(src="//static.jailbreakhq.org/video/promo-video.png", height=250)
          h5 Announcing Jailbreak 2015
      div
        a.th.radius(href="https://www.youtube.com/watch?v=zQxTo9NQ5zc", target="_blank").video
          img(src="//static.jailbreakhq.org/video/about-jailbreak-video.png", height=250)
          h5 Jailbreak 2015 in 90 Seconds
      div
        a.th.radius(href="https://www.youtube.com/watch?v=_W_4x8q0fiE", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-75-video.png", height=250)
          h5 Top and Bottom
      div
        a.th.radius(href="https://www.youtube.com/watch?v=GKLoZgbfKtQ", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-73-video.png", height=250)
          h5 Doctors Without Borders
      div
        a.th.radius(href="https://www.youtube.com/watch?v=WMhZiSfYB54", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-72-video.png", height=250)
          h5 Evan &amp; Luke
      div
        a.th.radius(href="https://www.youtube.com/watch?v=zd7I-mgBO9M", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-61-video.png", height=250)
          h5 Judy &amp; Rachel
      div
        a.th.radius(href="https://www.youtube.com/watch?v=SVjUZCrvUCU", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-54-video.png", height=250)
          h5 The Adventurers
      div
        a.th.radius(href="https://www.youtube.com/watch?v=UPbOPk6V7ms", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-50-video.png", height=250)
          h5 JAM
      div
        a.th.radius(href="https://www.youtube.com/watch?v=1BLl6dhwrYs", target="_blank").video
          img(src="//static.jailbreakhq.org/video/team-3-video.png", height=250)
          h5 Imogen &amp; Sadhbh
      div
        a.th.radius(href="https://www.youtube.com/watch?v=sm0tZwEIVVQ", target="_blank").video
          img(src="//static.jailbreakhq.org/video/how-to-jailbreak.png", height=250)
          h5 How to Jailbreak 