#login-background

  #login-panel
    h3.page-header Login

    form#login-form
      input(type="email", placeholder="email@example.com").round#input-email
      .row.collapse.postfix-round
        .small-9.columns
          input(type="password")#input-password
        .small-3.columns
          a(href="#").button.postfix#submit-login Login