#login-background

  #login-panel
    h3.page-header Login

    form#login-form
      input(type="email", placeholder="email@example.com", value="admin@jailbreakhq.org").radius#input-email
      input(type="password").radius#input-password
      button(data-style="slide-right").round.ladda-button#submit-login Login