#team
ul.tabs(data-tab)
  li.tab-title.active
    a(href="#about-panel") About
  li.tab-title
    a(href="#videos-panel") Videos
  li.tab-title
    a(href="#donations-panel") Donations
.tabs-content
  .content.active#about-panel
  .content#videos-panel
  .content#donations-panel
